/build
/release
/build.ninja
/source/qcommon/gitversion.h

/client
/client-*
/server
/server-*

/demos
/maps/*.bak
/maps/*.map
/maps/*.prt
/maps/*.srf
/screenshots

/listip.cfg

.vs/
.vscode/

*.asd
*.exe
*.exp
*.ilk
*.lib
*.pdb
*.cddemo
