/ggbuild/zig/zig
/build
/release
/build.ninja
/source/qcommon/gitversion.h

/client
/client-*
/server
/server-*
/bc4
/bc4-*
/dieselmap
/dieselmap-*

/livepp_shim.*
/libs/LivePP

/demos
/maps/*.bak
/maps/*.map
/maps/*.prt
/maps/*.srf
/screenshots

/listip.cfg

.vs/
.vscode/

*.asd
*.dll
*.so
*.exe
*.exp
*.ilk
*.lib
*.pdb
*.cddemo
