version: "{build}"
clone_depth: 1
image: Visual Studio 2019

build_script:
- cmd: call "C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\VC\\Auxiliary\\Build\\vcvarsall.bat" x86_amd64
- cmd: ggbuild\lua.exe make.lua release > build.ninja
- cmd: ggbuild\ninja.exe -v -k 0
- cmd: ggbuild\lua.exe ggbuild\ninja_timeline.lua
- cmd: ggbuild\ducible.exe release\client.exe
- cmd: ggbuild\ducible.exe release\server.exe

artifacts:
- path: release
  name: cocaine_diesel_windows
